---
import { getLangFromUrl } from '@/i18n/utils'
import EducationItem from './EducationItem.astro'

const lang = getLangFromUrl(Astro.url)

const EXPERIENCE = [
  {
    title: lang === 'es' ? 'Ingeniería en Tecnologías de la Información y Comunicaciones con especialidad en Desarrollo de Aplicaciones Avanzadas de Software' : 'Engineering in Information and Communications Technologies with a specialty in Development of Advanced Software Applications',
    school: 'Instituto Tecnológico De Aguascalientes',
    date: lang === 'es' ? 'Agosto 2020 — Presente' : 'August 2020 — Present',
  },
  {
    title: lang === 'es' ? 'Técnico en Programación' : 'Programming Technician',
    school: 'Centro De Bachillerato Tecnológico Industrial y de Servicios (CBTis) #247',
    date: lang === 'es' ? 'Agosto 2017 — Julio 2020' : 'August 2017 — July 2020',
  },
]
---

<ol class='relative mt-16'>
  {EXPERIENCE.map((experience) => (
    <li class=''>
      <EducationItem {...experience} />
    </li>
  ))}
</ol>
