---
import { getLangFromUrl } from '@/i18n/utils'
import ExperienceItem from './ExperienceItem.astro'

const lang = getLangFromUrl(Astro.url)

const EXPERIENCE = [
  {
    title: lang === 'es' ? 'Desarrollador de aplicaciones móviles' : 'Mobile Applications Developer',
    company: 'Swopyn',
    date: lang === 'es' ? 'Enero 2024 — Presente' : 'January 2024 — Present',
    descriptionItems: lang === 'es' ? [
      'He tenido una participación activa en el desarrollo de aplicaciones móviles y en la creación de servicios Back-End orientados a Microservicios.',
      'Trabajo de la mano con equipos de diseño y producto para asegurar una entrega fluida y efectiva de las características.',
      'Trabajo con tecnologías como: React, React Native, Java, Spring Boot, Docker, Kubernetes, AWS, Git, GitHub, SQLite y MySQL.'
    ] : [
      'I have had an active participation in the development of mobile applications and in the creation of Back-End services oriented to Microservices.',
      'I work hand in hand with design and product teams to ensure a smooth and effective delivery of the features.',
      'I work with technologies such as: React, React Native, Java, Spring Boot, Docker, Kubernetes, AWS, Git, GitHub, SQLite and MySQL.'
    ],
    more: lang === 'es' ? [
      'Planificación y ejecución de actividades dentro del proyecto.',
      'Trabajo bajo la metodología ágil Scrum.',
      'Colaboración estrecha con equipos de diseño y producto para asegurar una entrega fluida y efectiva del producto.',
      'Desarrollo de aplicaciones móviles utilizando React Native.',
      'Enfoque en la optimización de la experiencia de usuario (UX) y el diseño de la interfaz de usuario (UI)',
      'Implementación de bases de datos locales para aplicaciones móviles mediante SQLite.',
      'Uso de recursos nativos de los dispositivos móviles, como la cámara, sensores biométricos y GPS, para mejorar la funcionalidad y la seguridad de las aplicaciones.',
      'Desarrollo de pruebas unitarias, de integración y E2E.',
      'Uso de herramientas de control de versiones para la gestión del código y la colaboración en el equipo.',
      'Desarrollo, prueba y despliegue de servicios API RESTful.',
      'Uso de Docker para la gestión de imágenes y contenedores, mejorando la portabilidad y la consistencia de los entornos de desarrollo.',
      'Trabajo con servicios en la nube con AWS, optimizando el rendimiento y la escalabilidad de las aplicaciones.',
    ] : [
      'Planning and execution of activities within the project.',
      'Work under the agile Scrum methodology.',
      'Close collaboration with design and product teams to ensure a smooth and effective delivery of the product.',
      'Development of mobile applications using React Native.',
      'Focus on optimizing the user experience (UX) and user interface (UI) design.',
      'Implementation of local databases for mobile applications using SQLite.',
      'Use of native resources of mobile devices, such as the camera, biometric sensors and GPS, to improve the functionality and security of applications.',
      'Development of unit, integration and E2E tests.',
      'Use of version control tools for code management and team collaboration.',
      'Development, testing and deployment of RESTful API services.',
      'Use of Docker for managing images and containers, improving the portability and consistency of development environments.',
      'Work with cloud services with AWS, optimizing the performance and scalability of applications.',
    ]
  },
  {
    title: lang === 'es' ? 'Desarrollador Back-End practicante' : 'Back-End Developer Intern',
    company: 'CADSITA, Instituto Tecnológico de Aguascalientes',
    date: lang === 'es' ? 'Agosto 2022 — Diciembre 2023' : 'August 2022 — December 2023',
    descriptionItems: lang === 'es' ? [
      'Lidere un equipo de desarrollo para la creación de proyectos de emprendimiento, mi objetivo principal fue asegurar el uso de buenas prácticas, código limpio y escalabilidad.',
      'Contribuí activamente al éxito continuo del equipo mediante la mentoría de nuevos miembros y la coordinación de tareas.',
      'Trabajo con tecnologías como: Java, Spring, PHP, MySQL, Docker, AWS, Linux y Git.'
    ] : [
      'I led a development team for the creation of entrepreneurship projects, my main objective was to ensure the use of good practices, clean code and scalability.',
      'I actively contributed to the team\'s continued success by mentoring new members and coordinating tasks.',
      'I work with technologies such as: Java, Spring, PHP, MySQL, Docker, AWS, Linux and Git.'
    ],
    more: lang === 'es' ? [
      'Desarrollo de servicios API REST para aplicaciones y sistemas web.',
      'Diseño e implementación de bases de datos relacionales.',
      'Integración de Docker para optimizar la consistencia en entornos de desarrollo y producción, mejorando la portabilidad y distribución del software.',
      'Uso de lenguajes de programación orientada a objetos, aplicando principios y patrones de diseño.',
      'Automatización del despliegue y la entrega de contenido mediante servicios de CI/CD.',
      'Integración de servicios en la nube.',
      'Uso de herramientas de control de versiones.',
      'Administración de servidores basados en Linux.',
      'Creación de documentación técnica para los proyectos desarrollados. ',
    ] : [
      'Development of REST API services for web applications and systems.',
      'Design and implementation of relational databases.',
      'Integration of Docker to optimize consistency in development and production environments, improving software portability and distribution.',
      'Use of object-oriented programming languages, applying design principles and patterns.',
      'Automation of deployment and content delivery through CI/CD services.',
      'Integration of cloud services.',
      'Use of version control tools.',
      'Administration of Linux-based servers.',
      'Creation of technical documentation for developed projects.',
    ]
  },
  {
    title: lang === 'es' ? 'Servicio Social' : 'Social Service',
    company: 'MOOC, TecNM',
    date: lang === 'es' ? 'Agosto 2022 — Enero 2023' : 'August 2022 — January 2023',
    descriptionItems: lang === 'es' ? [
      'Diseñé y desarrollé una plataforma de educación inclusiva para personas con discapacidad.',
      'El desarrollo fue echo con un especial enfoque en la accesibilidad siguiendo los estándares de la W3C, lo que nos permitió una mejora en la usabilidad de hasta un 40% para usuarios con diferentes discapacidades.',
      'Colaboré con un equipo interdisciplinario para integrar funcionalidades que atendieran diversas necesidades educativas.',
      'Trabajo con tecnologías como: HTML, CSS, JavaScript, React, W3C standards, Git y GitHub.'
    ] : [
      'I designed and developed an inclusive education platform for people with disabilities.',
      'The development was done with a special focus on accessibility following W3C standards, which allowed us to improve usability by up to 40% for users with different disabilities.',
      'I collaborated with an interdisciplinary team to integrate functionalities that addressed various educational needs.',
      'I work with technologies such as: HTML, CSS, JavaScript, React, W3C standards, Git and GitHub.'
    ]
  },
]
---

<ol class='relative mt-16'>
  {EXPERIENCE.map((experience) => (
    <li class=''>
      <ExperienceItem {...experience} />
    </li>
  ))}
</ol>
