---
import { getLangFromUrl } from '@/i18n/utils'
import HackatonItem from '../structure/HackatonItem.astro'

const lang = getLangFromUrl(Astro.url)

const HACKATONS = [
  {
    title: lang === 'es' ? 'Hackaton Cybersecurity INCYTEA 2023' : 'Cybersecurity INCYTEA 2023 Hackaton',
    place: 'Aguascalientes, Ags. México',
    date: lang === 'es' ? 'Marzo 2023' : 'March 2023',
  },
  {
    title: lang === 'es' ? 'Concurso de Programación' : 'Programming Contest',
    place: 'Guadalajara, Jal. México',
    position: lang === 'es' ? 'Ganador del #2 Lugar' : 'Winner of #2 Place',
    date: lang === 'es' ? 'Mayo 2020' : 'May 2020'
  },
  {
    title: lang === 'es' ? 'Concurso de Prototipos de Innovación Tecnológica' : 'Technological Innovation Prototypes Contest',
    place: 'Puerto Vallarta, Jal. México',
    position: lang === 'es' ? 'Ganador del #1 Lugar' : 'Winner of #1 Place',
    date: lang === 'es' ? 'Marzo 2020' : 'March 2020'
  },
  {
    title: lang === 'es' ? 'Concurso de Prototipos' : 'Prototypes Contest',
    place: 'Teocaltiche, Jal. México',
    position: lang === 'es' ? 'Ganador del #1 Lugar' : 'Winner of #1 Place',
    date: lang === 'es' ? 'Noviembre 2019' : 'November 2019'
  },
]
---

<ol class='relative mt-16'>
  {HACKATONS.map((hackaton) => (
    <li class=''>
      <HackatonItem {...hackaton} />
    </li>
  ))}
</ol>
