---
import { getLangFromUrl } from '@/i18n/utils'
import SectionContainer from '../ui/SectionContainer.astro'
import Code from '@/assets/icons/general/code.svg'
import { PROJECTS } from '@/data/projects'
import type { Project } from '@/types/project'
import ArrowRight from '@/assets/icons/general/arrow-right.svg'
import { titles } from '@/i18n/titles'
import ProjectItem from '../structure/ProjectItem.astro'

const lang = getLangFromUrl(Astro.url)
const titlesTranslates = titles[lang]
const projects: Project[] = PROJECTS[lang]
---

<SectionContainer id='projects' class='mt-12'>
  <h2
    class='flex items-center mb-3 md:mb-6 text-xl md:text-3xl font-semibold gap-x-4 md:gap-x-8 text-black/80 dark:text-white'
  >
    <Code class='size-8' />
    {titlesTranslates.projects}
  </h2>

  <div class='grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6'>
    {projects.slice(0, 10).map((project) => (
      <ProjectItem project={project} />
    ))}
  </div>

  {projects.length > 10 && (
    <div class='mt-12 flex items-center justify-center'>
      <a
        href={`/${lang}/projects`}
        class='text-base font-semibold text-neutral-800 dark:text-neutral-200 hover:text-yellow-500 dark:hover:text-sky-400 transition flex items-center gap-x-1'
      >
        {lang === 'es' ? 'Ver todos los proyectos' : 'See all projects'} <ArrowRight />
      </a>
    </div>
  )}
</SectionContainer>

<style>
  .project-reveal{
    animation: reveal both linear;
    animation-timeline: view();
    animation-range: entry 10% cover 25%;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      scale: 0.75;
      translate: 0 50px;
    }

    to {
      opacity: 1;
      scale: 1;
      translate: 0 0;
    }
  }
</style>
