---
import { SKILLS } from '@/data/skills'
import SkillSection from './SkillSection.astro'
import { getLangFromUrl } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
---

<div class='container mx-auto'>
  <div class='grid grid-cols-12 gap-4'>
    <article class='col-span-7 flex flex-col'>
      <div class='h-full flex items-center justify-center'>
        <SkillSection
          title={lang === 'es' ? 'Front-End y Móvil' : 'Front-End and Mobile'}
          skills={SKILLS.frontend}
        />
      </div>
    </article>

    <article class='col-span-5 flex flex-col'>
      <div class='h-full flex items-center justify-center'>
        <SkillSection
          title={lang === 'es' ? 'Bases de Datos' : 'Databases'}
          skills={SKILLS.databases}
        />
      </div>
    </article>

    <article class='col-span-6 flex flex-col'>
      <div class='h-full flex items-center justify-center'>
        <SkillSection
          title={lang === 'es' ? 'Desarrollo y DevOps' : 'Development and DevOps'}
          skills={SKILLS.dev}
        />
      </div>
    </article>

    <article class='col-span-6 flex flex-col'>
      <div class='h-full flex items-center justify-center'>
        <SkillSection
          title='Back-End'
          skills={SKILLS.backend}
        />
      </div>
    </article>
  </div>
</div>
