---
import SparklesText from '@/islands/SparklesText'

interface Props {
  title: string
  place: string
  position?: string
  date: string
}

const { title, place, position, date } = Astro.props
---

<div
  class='relative ml-6 mr-3 md:mx-12 pb-6 md:pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[""]'
>
  <div class='relative pb-4 md:col-span-2'>
    <div class='sticky top-0'>
      <span class='text-yellow-400 dark:text-purple-600 -left-[42px] absolute rounded-full text-5xl'>
        &bull;
      </span>

      {position && (
        <SparklesText
          client:only
          text={position}
        />
      )}

      <h3 class='text-lg md:text-xl font-semibold text-yellow-400 dark:text-purple-500'>
        {title}
      </h3>

      <h4 class='p-0 m-0 text-xs md:text-sm font-semibold text-gray-600 dark:text-white'>
        {place}
      </h4>

      <time class='p-0 m-0 text-xs md:text-sm text-gray-600/80 dark:text-white/80'>
        {date}
      </time>
    </div>
  </div>
</div>
