---
import Layout from '@/layouts/Layout.astro'
---

<Layout
	title='Porfolio de Cesar Villalobos Olmos - Desarrollador Full-Stack'
  description='Contrata a Cesar Villalobos Olmos para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas.'
	imageFullUrl='https://chicho-portfolio.vercel.app/images/full-image.webp'
>
  <h1>
    Hola Mundo!!!
  </h1>
</Layout>
