---
import Badge from './Badge.astro'
import LinkButton from './LinkButton.astro'
import Download from '@/icons/general/Download.astro'
import LinkedIn from '@/icons/social/LinkedIn.astro'
import GitHub from '@/icons/social/GitHub.astro'
import Mail from '@/icons/social/Mail.astro'
import Location from '@/icons/social/Location.astro'
import Book from '@/icons/social/Book.astro'
---

<section class='w-full'>
  <picture class='w-full mb-4 grid place-content-center'>
    <img
      src='/me.webp'
      alt=''
      class='w-2/3 mx-auto rounded-lg shadow-md inline-block -mt-28'
    >
  </picture>

  <div class='w-full flex flex-col items-center justify-start'>
    <h3 class='text-center text-xl mb-2 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500'>
      Hola, soy <strong>César Villalobos Olmos</strong>
    </h3>
  
    <Badge>
      <a href='https://linkedin.com/in/cesarvillalobosolmos/' target='_blank'>
        Desarrollador Full-Stack
      </a>
    </Badge>
  
    <ul class='my-6 w-full flex flex-row justify-center items-center gap-2'>
      <li>
        <a
          href='https://linkedin.com/in/cesarvillalobosolmos/'
          role='link'
          target='_blank'
          class='text-white bg-[#0a66c2] hover:bg-[#006097] hover:scale-105 hover:-translate-y-1 inline-flex items-center justify-center gap-2 p-2 transition border rounded-full focus-visible:ring-yellow-500/80 text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2'
        >
          <LinkedIn />
        </a>
      </li>
  
      <li>
        <a
          href='https://github.com/chicho69-cesar'
          role='link'
          target='_blank'
          class='text-white bg-black hover:scale-105 hover:-translate-y-1 inline-flex items-center justify-center gap-2 p-2 transition border rounded-full focus-visible:ring-yellow-500/80 text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2'
        >
          <GitHub />
        </a>
      </li>
  
      <li>
        <a
          href='mailto:cesarvillalobosolmos.01@gmail.com'
          role='link'
          target='_blank'
          class='text-white bg-yellow-500 hover:bg-yellow-400 hover:scale-105 hover:-translate-y-1 inline-flex items-center justify-center gap-2 p-2 transition border rounded-full focus-visible:ring-yellow-500/80 text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2'
        >
          <Mail />
        </a>
      </li>
    </ul>
  
    <LinkButton href='/cv.pdf' isForDownload>
      <Download class='size-4' />
      Descargar CV
    </LinkButton>

    <section class='w-full bg-gray-100 dark:bg-gray-900 rounded-md mt-6'>
      <article class='w-full py-2 px-4 flex flex-row justify-start items-center gap-4 border-b border-gray-200 dark:border-gray-700'>
        <div class='p-2 bg-white dark:bg-gray-700 rounded shadow'>
          <Location />
        </div>

        <div class='flex-1'>
          <h4 class='text-sm font-semibold'>
            Ubicación:
          </h4>

          <p>
            Aguascalientes, México
          </p>
        </div>
      </article>
      
      <article class='w-full py-2 px-4 flex flex-row justify-start items-center gap-4'>
        <div class='p-2 bg-white dark:bg-gray-700 rounded shadow'>
          <Book />
        </div>

        <div class='flex-1'>
          <h4 class='text-sm font-semibold'>
            Carrera:
          </h4>

          <p>
            Ingeniería en TIC's
          </p>
        </div>
      </article>
    </section>
  </div>
</section>
